* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: linear-gradient(deeppink, purple); */
  /* background: linear-gradient(lightgreen, crimson); */
  /* background: linear-gradient(blueviolet, deeppink); */
  /* background: linear-gradient(coral, blueviolet); */
  /* background: linear-gradient(#999, #111); */
  background: linear-gradient(OrangeRed, FireBrick);
  padding: 8rem;
}

section {
  padding: 1rem 7%;
  min-height: 100%;
}

.btn {
  font-size: 2rem;
  padding: 0.7rem 4rem;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}

.heading {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

header {
  width: 35rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.4rem);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}
header .user {
  padding-top: 2rem;
}
header .user img {
  margin: 1rem 0;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255 0.2);
}
header .user .name {
  font-size: 3rem;
  color: #fff;
  padding: 0.5rem 0;
}
header .user .post {
  font-size: 1.8rem;
  color: #eee;
  font-weight: lighter;
}
header .navbar {
  padding: 1rem 3rem;
}
header .navbar ul li {
  margin: 1rem 0;
  list-style: none;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
header .navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #555;
  transition: all 0.2s linear;
}

.container {
  height: 58rem;
  width: 95rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.4rem);
  border-radius: 1rem;
  overflow: hidden;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  padding-bottom: 10rem;
}
.home h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #eee;
}
.home .name span {
  font-size: 4rem;
  color: #fff;
}
.home .post {
  padding: 1rem 0;
}
.home .post span {
  font-size: 3rem;
  color: #fff;
}
.home .share {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: 0.2s linear;
}
.home .share a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  margin: 1rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
}
.home .share a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #eee;
}

.about .content h3 {
  font-size: 2.5rem;
  color: #eee;
}
.about .content h3 span {
  color: #fff;
}
.about .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
}
.about .skills {
  padding: 1rem 0;
}
.about .skills .progress {
  margin: 1.5rem 0;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
.about .skills .progress h3 {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #fff;
}
.about .skills .progress .bar {
  position: relative;
  width: 100%;
  height: 0.3rem;
  margin: 1rem 0;
  background: #555;
}
.about .skills .progress .bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
}
.about .skills .progress:nth-child(1) .bar span {
  width: 95%;
}
.about .skills .progress:nth-child(2) .bar span {
  width: 85%;
}
.about .skills .progress:nth-child(3) .bar span {
  width: 65%;
}
.about .skills .progress:nth-child(4) .bar span {
  width: 75%;
}

.service .box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service .box_container .box {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 32rem;
}
.service .box_container .box iconify-icon {
  color: #fff;
  font-size: 4.5rem;
  padding: 1rem 0;
}
.service .box_container .box p {
  color: #eee;
  font-size: 1.3rem;
  padding: 0.5rem 5rem;
}

.education .box_container {
  display: flex; /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.education .box_container .box {
  width: 30rem;
  padding: 0 2rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
  border-left: 0.2rem solid #eee;
}
.education .box_container .box .year {
  font-size: 2rem;
  color: #eee;
  position: relative;
}
.education .box_container .box .year::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -3.1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
}
.education .box_container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1rem;
}
.education .box_container .box p {
  font-size: 1.3rem;
  color: #fff;
  padding-top: 1rem;
  line-height: 2.2rem;
}

.contact .row {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
  align-items: center;
}
.contact .row form {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.contact .row form .box {
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 1rem 0;
  height: 4rem;
  width: 49%;
  font-size: 1.7rem;
  color: black;
  text-transform: none;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
  color: gray;
}
.contact .row form .box_massage {
  padding: 1rem;
  height: 15rem;
  resize: none;
  width: 100%;
  border-radius: 1rem;
}
.contact .row form .btn {
  margin-bottom: 1rem;
}
.contact .row .content {
  padding: 0 5rem;
}
.contact .row .content .icons {
  padding: 1rem 0rem;
}
.contact .row .content .icons h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
  display: flex;
}
.contact .row .content .icons h3 iconify-icon {
  padding-right: 0.5rem;
}
.contact .row .content .icons p {
  font-size: 1.5rem;
  color: #eee;
}

@media only screen and (max-width: 688px) {
  html {
    overflow: auto;
  }
  body {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: auto;
  }
  .heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  header {
    width: 100%;
    padding: 0.5rem;
  }
  .container {
    height: 48rem;
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    overflow: visible;
  }
  .home h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .home .name span {
    font-size: 2.5rem;
  }
  .home .post {
    padding: 1rem 0;
  }
  .home .post span {
    font-size: 2rem;
  }
  .home .share {
    bottom: 3rem;
  }
  .home .share a {
    padding: 0.5rem 0.8rem;
    font-size: 2rem;
    margin: 1rem;
  }
  .about .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about .content p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.5rem 0;
  }
  .about .skills {
    padding: 0.2rem 0;
  }
  .about .skills .progress {
    margin: 1.2rem 0;
    padding: 1rem;
  }
  .about .skills .progress h3 {
    font-size: 1rem;
  }

  .service .box_container .box {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 45rem;
  }
  .service .box_container .box iconify-icon {
    color: #fff;
    font-size: 1.8rem;
    padding: 0 0;
  }
  .service .box_container .box p {
    color: #eee;
    font-size: 1rem;
    padding: 0.3rem 5rem;
    line-height: 1.8rem;
  }
  .education .box_container {
    padding: 0.5rem 0;
  }
  .education .box_container .box {
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 2.3rem;
    border-left: 0.1rem solid #eee;
  }
  .education .box_container .box .year {
    font-size: 1.5rem;
  }
  .education .box_container .box h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
  .education .box_container .box p {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .contact .row {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .contact .row form {
    padding: 0.5rem 1rem;
  }
  .contact .row form .box {
    padding: 0 1rem;
    margin: 1rem 0;
    height: 3.8rem;
    width: 49%;
    font-size: 1.3rem;
  }
  .contact .row form .box_massage {
    padding: 0.8rem;
    height: 6rem;
  }
  .contact .row form .btn {
    margin-bottom: 1.2rem;
  }
  .contact .row .content {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact .row .content .icons {
    padding: 1rem 0rem;
  }
  .contact .row .content .icons h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  .contact .row .content .icons p {
    font-size: 0.8rem;
  }
}
